@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0 auto;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    vertical-align: middle;
}
.content
{   
    Display: flex; 
    Justify-content: center; 
    Align-items: center; 

}
.navbar {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: black;

}

li {
    list-style-type: none;
    float: center;
}

ul li {}

ul li a {
    color: white;
    font-size: 18x;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.navoption a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    padding: 5px;
}
.btn {
    padding: 5px 12px;
    font-weight: 500;
    color: black;
}
.btn a {
    color: black;
}

.btn:hover {
    color: white !important;
    background-color: black;
    transition: 0.3s;
    border: 2px solid black;
}
.btn a:hover {
    color: white;
}
.disabled:hover {
    color: white;
    background-color: black;
}
.update {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
}
.update:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}
